<img src="../img/logo2.png">
<center>
<h2>Корзина индекса ММВБ</h2>
</center>

Импортируем библиотеку Pandas

In [1]:
import pandas as pd

Считываем данные из csv файла

In [2]:
X = pd.read_csv("micex.csv", sep = ';', encoding = 'cp1251')

Посмотрим на первые строки

In [3]:
X.head()

,tradedate,ticker,shortname,issue_size,cap_total,free_float,weight,volume,trades
0,04.05.2017,AFKS,Система ао,9.650000e+09,1.398290e+11,0.36,0.53,2.597069e+09,60152
1,04.05.2017,AFLT,Аэрофлот,1.110616e+09,2.034094e+11,0.41,0.87,7.827018e+08,6855
2,04.05.2017,AGRO,AGRO-гдр,1.200000e+08,8.328000e+10,0.21,0.18,1.274858e+07,362
3,04.05.2017,AKRN,Акрон,4.053400e+07,1.337620e+11,0.16,0.22,6.515454e+06,182
4,04.05.2017,ALRS,АЛРОСА ао,7.364966e+09,6.974620e+11,0.34,2.48,1.138181e+09,15942

Получим все наименования колонок

In [4]:
X.columns

Index(['tradedate', 'ticker', 'shortname', 'issue_size', 'cap_total',
       'free_float', 'weight', 'volume', 'trades'],
      dtype='object')

Какой размер таблицы?

In [5]:
X.shape

(50, 9)

Посмотрим на статистическое описание наших данных

In [10]:
X.describe(include = 'all')

,tradedate,ticker,shortname,issue_size,cap_total,free_float,weight,volume,trades
count,50,50,50,5.000000e+01,5.000000e+01,50.000000,50.00000,5.000000e+01,50.00000
unique,1,50,50,NaN,NaN,NaN,NaN,NaN,NaN
top,04.05.2017,AGRO,ЛСР ао,NaN,NaN,NaN,NaN,NaN,NaN
freq,50,1,1,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,3.048090e+11,5.910065e+11,0.373600,2.00040,6.187795e+08,8590.70000
std,NaN,NaN,NaN,1.835934e+12,8.521142e+11,0.246459,3.39587,1.147241e+09,12248.07211
min,NaN,NaN,NaN,1.554875e+06,1.192426e+10,0.050000,0.09000,3.634421e+06,180.00000
25%,NaN,NaN,NaN,1.824831e+08,1.108900e+11,0.185000,0.27250,3.107590e+07,985.00000
50%,NaN,NaN,NaN,1.554499e+09,2.825589e+11,0.320000,0.61500,1.793029e+08,3343.00000
75%,NaN,NaN,NaN,1.418834e+10,6.515252e+11,0.460000,2.32000,6.136669e+08,11898.75000
max,NaN,NaN,NaN,1.296050e+13,3.572640e+12,1.000000,15.37000,6.235159e+09,60152.00000

Получим уникальные значения кодов ценных бумаг

In [7]:
X['ticker'].unique()

array(['AFKS', 'AFLT', 'AGRO', 'AKRN', 'ALRS', 'BANEP', 'CBOM', 'CHMF',
       'DIXY', 'FEES', 'GAZP', 'GMKN', 'HYDR', 'IRAO', 'LKOH', 'LSRG',
       'MAGN', 'MFON', 'MGNT', 'MOEX', 'MSNG', 'MTLR', 'MTLRP', 'MTSS',
       'MVID', 'NLMK', 'NMTP', 'NVTK', 'PHOR', 'PIKK', 'PLZL', 'POLY',
       'ROSN', 'RSTI', 'RTKM', 'RTKMP', 'RUAL', 'SBER', 'SBERP', 'SNGS',
       'SNGSP', 'TATN', 'TATNP', 'TRMK', 'TRNFP', 'UPRO', 'URKA', 'UWGN',
       'VTBR', 'YNDX'], dtype=object)

Отсортируем данные по весу бумаг в индексе и посмотрим на топ 5

In [8]:
X.sort_values(by = 'weight', ascending = False).head()

,tradedate,ticker,shortname,issue_size,cap_total,free_float,weight,volume,trades
10,04.05.2017,GAZP,ГАЗПРОМ ао,23673512900,3.194270e+12,0.46,15.37,4.322423e+09,31814
37,04.05.2017,SBER,Сбербанк,21586948000,3.572640e+12,0.48,15.10,6.235159e+09,37906
14,04.05.2017,LKOH,ЛУКОЙЛ,850563255,2.364570e+12,0.46,11.38,2.151846e+09,16173
27,04.05.2017,NVTK,Новатэк ао,3036306000,2.104160e+12,0.27,5.94,3.663164e+08,3459
18,04.05.2017,MGNT,Магнит ао,94561355,8.360170e+11,0.63,5.51,8.481276e+08,7008

Отсортируем данные по объему торгов и посмотрим на топ 10

In [9]:
X = X.sort_values(by = 'volume', ascending = False)
X.head(10)

,tradedate,ticker,shortname,issue_size,cap_total,free_float,weight,volume,trades
37,04.05.2017,SBER,Сбербанк,21586948000,3.572640e+12,0.48,15.10,6.235159e+09,37906
10,04.05.2017,GAZP,ГАЗПРОМ ао,23673512900,3.194270e+12,0.46,15.37,4.322423e+09,31814
0,04.05.2017,AFKS,Система ао,9650000000,1.398290e+11,0.36,0.53,2.597069e+09,60152
14,04.05.2017,LKOH,ЛУКОЙЛ,850563255,2.364570e+12,0.46,11.38,2.151846e+09,16173
23,04.05.2017,MTSS,МТС-ао,1998381575,4.926011e+11,0.48,2.47,2.039337e+09,37523
11,04.05.2017,GMKN,ГМКНорНик,158245476,1.376890e+12,0.33,4.75,1.435966e+09,12588
19,04.05.2017,MOEX,МосБиржа,2278636493,2.614508e+11,0.57,1.56,1.282448e+09,34578
32,04.05.2017,ROSN,Роснефть,10598177817,3.285440e+12,0.11,3.78,1.183577e+09,11223
4,04.05.2017,ALRS,АЛРОСА ао,7364965630,6.974620e+11,0.34,2.48,1.138181e+09,15942
18,04.05.2017,MGNT,Магнит ао,94561355,8.360170e+11,0.63,5.51,8.481276e+08,7008

Выведем топ 5 бумаг с минимальным объмом

In [10]:
X.tail(5)

,tradedate,ticker,shortname,issue_size,cap_total,free_float,weight,volume,trades
2,04.05.2017,AGRO,AGRO-гдр,120000000,8.328000e+10,0.21,0.18,12748579,362
8,04.05.2017,DIXY,ДИКСИ ао,124750000,2.746995e+10,0.46,0.13,7202025,386
3,04.05.2017,AKRN,Акрон,40534000,1.337620e+11,0.16,0.22,6515454,182
26,04.05.2017,NMTP,НМТП ао,19259815400,1.375150e+11,0.15,0.22,6445375,316
15,04.05.2017,LSRG,ЛСР ао,103030215,9.169689e+10,0.33,0.16,3634421,288

Создадим новую колонку "средний объем сделки" - trade_size

In [11]:
X['trade_size'] = X['volume'] / X['trades']
X.head()

,tradedate,ticker,shortname,issue_size,cap_total,free_float,weight,volume,trades,trade_size
37,04.05.2017,SBER,Сбербанк,21586948000,3.572640e+12,0.48,15.10,6.235159e+09,37906,164490.016678
10,04.05.2017,GAZP,ГАЗПРОМ ао,23673512900,3.194270e+12,0.46,15.37,4.322423e+09,31814,135865.447435
0,04.05.2017,AFKS,Система ао,9650000000,1.398290e+11,0.36,0.53,2.597069e+09,60152,43175.099914
14,04.05.2017,LKOH,ЛУКОЙЛ,850563255,2.364570e+12,0.46,11.38,2.151846e+09,16173,133051.767143
23,04.05.2017,MTSS,МТС-ао,1998381575,4.926011e+11,0.48,2.47,2.039337e+09,37523,54348.978626

Удалим ненужный столбец tradedate

In [12]:
X.drop(['tradedate'], axis = 1, inplace = True)
X.head()

,ticker,shortname,issue_size,cap_total,free_float,weight,volume,trades,trade_size
37,SBER,Сбербанк,21586948000,3.572640e+12,0.48,15.10,6.235159e+09,37906,164490.016678
10,GAZP,ГАЗПРОМ ао,23673512900,3.194270e+12,0.46,15.37,4.322423e+09,31814,135865.447435
0,AFKS,Система ао,9650000000,1.398290e+11,0.36,0.53,2.597069e+09,60152,43175.099914
14,LKOH,ЛУКОЙЛ,850563255,2.364570e+12,0.46,11.38,2.151846e+09,16173,133051.767143
23,MTSS,МТС-ао,1998381575,4.926011e+11,0.48,2.47,2.039337e+09,37523,54348.978626

Найдем в таблице MOEX

In [13]:
X[X['ticker'] == 'MOEX']

,ticker,shortname,issue_size,cap_total,free_float,weight,volume,trades,trade_size
19,MOEX,МосБиржа,2278636493,2.614508e+11,0.57,1.56,1.282448e+09,34578,37088.556663

Переименуем shortname на 'Московская Биржа'

In [14]:
X.loc[19, 'shortname'] = 'Московская Биржа'
X[X['ticker'] == 'MOEX']

,ticker,shortname,issue_size,cap_total,free_float,weight,volume,trades,trade_size
19,MOEX,Московская Биржа,2278636493,2.614508e+11,0.57,1.56,1.282448e+09,34578,37088.556663

Переименуем колонку cap_total на capitalization

In [15]:
X.rename(columns = {'cap_total' : 'capitalization'}, inplace = True)
X.head()

,ticker,shortname,issue_size,capitalization,free_float,weight,volume,trades,trade_size
37,SBER,Сбербанк,21586948000,3.572640e+12,0.48,15.10,6.235159e+09,37906,164490.016678
10,GAZP,ГАЗПРОМ ао,23673512900,3.194270e+12,0.46,15.37,4.322423e+09,31814,135865.447435
0,AFKS,Система ао,9650000000,1.398290e+11,0.36,0.53,2.597069e+09,60152,43175.099914
14,LKOH,ЛУКОЙЛ,850563255,2.364570e+12,0.46,11.38,2.151846e+09,16173,133051.767143
23,MTSS,МТС-ао,1998381575,4.926011e+11,0.48,2.47,2.039337e+09,37523,54348.978626

## Выделение подтаблиц

Таблица из трех колонок

In [16]:
Y1 = X[['ticker', 'free_float', 'weight']]
Y1.head()

   ticker  free_float  weight
37   SBER        0.48   15.10
10   GAZP        0.46   15.37
0    AFKS        0.36    0.53
14   LKOH        0.46   11.38
23   MTSS        0.48    2.47

Таблица из трех колонок и строки с 20 по 25

In [17]:
Y2 = X[['ticker', 'free_float', 'weight']][20:25]
Y2.head()

   ticker  free_float  weight
44  TRNFP        1.00    3.18
13   IRAO        0.29    1.28
12   HYDR        0.23    0.81
17   MFON        0.15    0.58
25   NLMK        0.16    1.08

Таблица из 4 колонок и объем бумаг менее 100 млн

In [18]:
Y3 = X[['ticker', 'free_float', 'weight', 'volume']][X['volume'] < 10**8]
Y3.head()

   ticker  free_float  weight      volume
34   RTKM        0.32    0.65  71759488.2
28   PHOR        0.25    0.82  71329936.0
43   TRMK        0.30    0.25  60034400.7
45   UPRO        0.18    0.30  52859097.0
31   POLY        0.37    1.21  49018303.5

Пример функции в Python

In [19]:
def cap(x):
    if x > 10**11:
        return 'high'  #высокая капитализация
    else:
        return 'low'   #низкая капитализация

## Применение функции к столбцу
Создадим новую колонку. Если капитализация компании больше 100 млрд, то cap_label = high, если меньше, то cap_label = low

In [20]:
X['cap_label'] = X['capitalization'].apply(cap)

Количество компаний с высокой капитализацией

In [21]:
len(X[X['cap_label'] == 'high'])

38

Таблица корреляции показателей

In [22]:
X.corr()

,issue_size,capitalization,free_float,weight,volume,trades,trade_size
issue_size,1.000000,0.040019,-0.006702,0.057841,-0.000915,0.074121,-0.066890
capitalization,0.040019,1.000000,-0.079873,0.883841,0.745991,0.382433,0.446756
free_float,-0.006702,-0.079873,1.000000,0.148327,0.130750,0.117151,0.299940
weight,0.057841,0.883841,0.148327,1.000000,0.855118,0.472007,0.512471
volume,-0.000915,0.745991,0.130750,0.855118,1.000000,0.780350,0.394991
trades,0.074121,0.382433,0.117151,0.472007,0.780350,1.000000,0.100087
trade_size,-0.066890,0.446756,0.299940,0.512471,0.394991,0.100087,1.000000

Результаты изменений запишем в новый csv файл

In [23]:
X.to_csv('micex_modified.csv')